.insanity-low {
  font-family: 'Comic Sans';

  background-color: #000;
}

.insanity-high {
  font-family: 'Webdings';
  color: #ddd;
  font-weight: 800;
  font-size: 32px !important;
}

.Green body {
  color: #0f0 !important;
}
.Red body {
  color: #f00 !important;
}
.Orange body {
  color: #ffa500 !important;
}
.Purple body {
  color: #f0f !important;
}
.Yellow body {
  color: #ff0 !important;
}
.Blue body {
  color: #00f !important;
}
